{% extends 'general/base.html' %}


{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>GoStory</h1>
            <p><strong>Creating stories with polylinear plot together!</strong></p>
            <hr/>
            
            <h2>Recent stories:</h2>
            {% include 'stories/story_list_group.html' with stories=recent_stories %}
            
            <h2># Best stories: #</h2>
            {% include 'stories/story_list_group.html' with stories=interesting_stories %}
            
            <h2>Best writers:</h2>
            {% include 'stories/author_list_group.html' with authors=best_writers %}
        </div>
    </div>
{% endblock %}
