{% extends 'general/base.html' %}

{% load staticfiles%}

{% block title %}{{ story.title }} | {{ block.super }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'stories/css/story_tree.css' %}" type="text/css"/>
{% endblock %}

{% block js %}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{% static 'stories/js/story_tree.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>{{ story.title }}</h3>
            <hr/>
            
            <div id="story-metadata">
                <p>Number of chapters: {{ chapter_num }};</p>
                <p>Main authors: 
                    {% for a in authors %}
                        {{ a.author__username }}({{ a.chap_num }})
                        {% if forloop.last %};{% else %}, {% endif %}
                    {% endfor %}
                </p>
                <p>Started at: {{ story.started_at|date }}</p>
                <p>etc...</p>
            </div>
            
            <p><a href="{% url 'read_story' story.pk %}">start reading</a></p>            
            <p id="chapter-json" style="display: none">{{ chapters_json }}</p>
            <div id="story-tree"></div>
        </div>
    </div>
{% endblock %}
